@model Bloggie.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container coll-xxl-8px py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Bloggie - The dev Blog</h1>
            <p class="lead">
                Bloggie is the home to coding blogs covering a vast range of topics.
                Want to read the latest dev articles? Join the Bloggie app and get weakly dev news in your email.
            </p>
        </div>

        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bloggie dev blogs" class="d-block mx-lg-auto img-fluid" width="300" />

        </div>

    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 d-flex mb-3">
            @if(Model != null && Model.Tags.Any()) {
                foreach(var tag in Model.Tags) {
                    <span class="badge bg-dark me-1">@tag.NameTag</span>
                }
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if(Model != null && Model.BlogPosts.Any()) {
                foreach (var blogPost in Model.BlogPosts) {
                    <div class="mb-5 bg-light box-shadow px-3 py-3">
                        <img src="@blogPost.FeatureImageUrlBlo" alt="@blogPost.HeadingBlo" class="d-block mx-lg-auto img-fluid" width="300"/>
                        <div class="mb-4">
                            <h2>@blogPost.HeadingBlo</h2>
                            <p class="mt-3">
                                Author: @blogPost.AuthorBlo
                                <br />
                                Published Date: @blogPost.PublishedDateBlo.ToShortDateString()
                            </p>
                            <p>@blogPost.ShortDescriptionBlo</p>
                            <a class="d-flex mx-3 justify-content-center mb-4 btn btn-dark" asp-area="" asp-controller="Blogs" asp-action="Index" asp-route-urlHandle="@blogPost.UrlHandleBlo">Read More</a>
                            <p>
                                @foreach (var tag in @blogPost.TagsBlo) {
                                    <span class="badge bg-secondary me-1">@tag.NameTag</span>
                                }
                            </p>
                        </div>
                    </div>
                }

            }


        </div>
    </div>
</div>

